.icon {
    display: block;
    width: 1em;
    height: 1em;
    fill: currentColor;
    font-size:1rem;
}

.icon-Chevron {
    width:(8/5)*1em;
}
.icon-Facebook-color {
    width:(20/20)*1em;
}
.icon-GooglePlus-color {
    width:(32/20)*1em;
}
.icon-Instagram-color {
    width:(20/20)*1em;
}
.icon-LinkedIn-color {
    width:(22/20)*1em;
}
.icon-Page_1 {
    width:(7/12)*1em;
}
.icon-Snapchat {
    width:(21/20)*1em;
}
.icon-Twitter-color {
    width:(24/20)*1em;
}
.icon-Vine-color {
    width:(18/20)*1em;
}
.icon-Youtube-color {
    width:(29/20)*1em;
}
.icon-dashboard-icon {
    width:(20/20)*1em;
}
.icon-invite-friends-icon {
    width:(20/20)*1em;
}
.icon-log-out-icon {
    width:(20/20)*1em;
}
.icon-notification-icon {
    width:(15/20)*1em;
}
.icon-search-icon {
    width:(22/22)*1em;
}
.icon-settings-icon {
    width:(20/20)*1em;
}
.icon-social-feed-icon {
    width:(20/20)*1em;
}
.icon-sociotrack-logo {
    width:(124/25)*1em;
}
