.main {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    background-color: #EFF7ED;
    @extend %flex_center;
    flex-direction: column;
}

.dashboard {
    max-width: 990px;
    width: calc(100vw - 260px);
    padding: 20px;
    @include phones {
        padding: 10px;
        width: 100%;
    }
}

.dashboard-head__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include tablets {
        display: block;
    }
}

.dashboard-head__title {
    font-size: 24px;
    color: #1CAF5E;
    font-weight: bold;
    margin-bottom: 25px;
}

.dashboard-head__btn {
    border: 1px solid #1CAF5E;
    border-radius: 4px;
    padding: 12px 16px;
    color: #1CAF5E;
    cursor: pointer;
    max-width: 156px;
    &:hover {
        background: transparentize(#1CAF5E, .8);
    }
    @include tablets {
        margin-bottom: 10px;
    }
}

.dashboard-head__sort {
    display: flex;
    margin-bottom: 25px;
}

.dashboard-head__date {
    margin-right: 36px;
    font-size: 16px;
    cursor: pointer;
    padding-bottom: 10px;
    border-bottom: 4px solid transparent;
    &:last-child {
        margin-right: 0;
    }
    @include tablets {
        margin-right: 20px;
    }
}

.dashboard-head__date_active {
    border-bottom: 4px solid #B8E986;
}

.section {
    color: $black;
}

.section-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: -40px;
}

.section-item__box {
    margin-bottom: 25px;
    margin-left: 40px;
}

.section-item__element {
    position: relative;
    width: 200px;
    &:after {
        display: block;
        content: '';
        cursor: pointer;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 20;
    }
    &:hover {
        &:after {
            z-index: 10;
            background-color: transparentize($black, .8);
        }
    }
}

.section-item__top {
    width: 200px;
    height: 200px;
    padding: 20px 10px 11px 20px;
    color: $white;
    border-radius: 5px;
}

.section-item__bottom {
    width: 200px;
}

.icon-item {
    font-size: 20px;
}

.section-item__number {
    font-size: 41px;
    margin-top: 39px;
}

.section-item__follower {
    font-size: 10px;
}

.icon-arrow {
    font-size: 12px;
}

.icon-arrow-minus {
    transform: rotate(180deg);
}

.section-item__change {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.section-item__bottom {
    display: flex;
    margin-top: 10px;
}

.section-item__ava {
    height: 35px;
    width: 35px;
    margin-right: 10px;
}

.section-item__social {
    font-size: 13px;
    color: transparentize(#333, .5);
}

.section-item__name {
    font-size: 13px;
    color: #333;
}