include ../partials/_variable
include ../mixins/iconsvg

doctype html
html
    include ../partials/_head
    body.body
        .wrap
            block main

        block scripts
            include ../partials/_scripts